[CMSSW]
total_number_of_lumis  =  -1
number_of_jobs         =  500
pset                   =  zfinder_combined_data_cfg.py
lumi_mask              =  Run2012ABCD.json
output_file            =  test_combined_data.root
#datasetpath set in multicrab

[USER]
return_data            =  1
email                  =  alex.public.account+CrabFNAL@gmail.com
ui_working_dir         =  /uscms_data/d3/gude/ZFinder_RooWorkspaces/20150401_data
copy_data              =  0
storage_element        =  T2_US_Wisconsin
user_remote_dir        =  gude

[CRAB]
#scheduler             =  glite
scheduler              =  condor
jobtype                =  cmssw
use_server             =  0
